%auth-box {
	display: flex;
	flex-direction: column;
	width: $widthAuth;
	white-space: nowrap;
	gap: 30px;
	padding-top: 50px !important;
}

%auth-form {
	display: flex;
	flex-direction: column;
	align-items: center;
  input {
    color: black;

  }
}

%title-h1 {
	font-size: 3em;
	line-height: 1em;
	text-align: center;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 0.5rem;
	text-shadow: rgb(219, 219, 219) 0px 1px 0px, rgb(218, 218, 218) 0px 2px 0px,
	rgba(0, 0, 0, 0.199219) 0px 3px 1px, rgba(0, 0, 0, 0.296875) 0px 4px 3px;
}

%error-message {
	width: 400px;
	white-space: pre-wrap;
	text-align: center;
}

%is-dark {
	background-color: $backgroundColorBox !important;
	position: absolute !important;
}

%block-centering {
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
}

