#root {
	height: 100%;
	.game-box {
		background: url('../../../public/img/background.png');
		background-size: cover;
		width: 100%;
		height: 100%;
		position: relative;
		display: flex;
		user-select: none;
		cursor: url('../../../public/img/251.png'), auto;
    .hand {
      position: absolute;
      background-color: transparent;
      display: flex;
      user-select: none;
      // margin-right: 30px;
      // background-color: rgba(0, 0, 0, 0.331);
    }
		.hero {
			position: absolute;
			background-color: transparent;
			display: flex;
			user-select: none;
      // background-color: rgba(183, 177, 120, 0.331);
		}
		.enemy {
			position: absolute;
			background-color: transparent;
			display: flex;
			user-select: none;
      // background-color: rgba(174, 27, 27, 0.331);
		}
    .blood {
			position: absolute;
			background-color: transparent;
			display: flex;
			user-select: none;
      // background-color: rgba(81, 199, 13, 0.353);
		}
    .dead-body {
      position: absolute;
			background-color: transparent;
			display: flex;
			user-select: none;
    }
		.bullet {
			width: 12px;
			height: 2px;
			background-color: rgba(255, 234, 2, 0.735);
			border-radius: 30%;
			box-shadow: 0px 0px 5px 5px rgb(203, 159, 16);
			position: absolute;
		}
		.coin {
			position: absolute;
			background-color: transparent;
			display: flex;
			user-select: none;
		}
	}
}
